extends _layout

block vars
	- array = {body_class:'', layout_mod:'', sub_keywords:'', title_inner:'Portfolio of the page'}
block content_block
	+bread(['Главная'], 'Портфолио')
	section.work_hero
		.work_hero--bg 
			+pic({
				img: 'i/work/work_bg',
				png: true,
			})
		.section_in 
			.work_hero--main 
				.work_hero--content
					.work_cometa--title
					h1 портфолио студии
					.work_hero--btn.btn-standart 
						button.trigger_callback Оставить заявку
				.work_hero--img
					+pic({
						img: 'i/work/work_hero',
						png: true,
					})
	section.work_mains 
		.section_in 
			.work_tab--body 
				ul.work_tab--list 
					-
						var works = [
							{
								title: 'Все проекты',
								link: 'all',
								class: 'active'
							},
							{
								title: 'Лендинги',
								link: 'landing'
							},
							{
								title: 'Сайты-визитки',
								link: 'visit'
							},
							{
								title: 'Корпоративные сайты',
								link: 'corp'
							},
							{
								title: 'Интернет-магазины',
								link: 'shop'
							},
							{
								title: 'Контекстная реклама',
								link: 'afisha'
							},
							{
								title: 'SEO продвижение',
								link: 'seo'
							},
							{
								title: 'SMM',
								link: 'smm'
							},
							{
								title: 'Наружная реклама',
								link: 'banner'
							},
						]
					each item in works 
						li(data-item=item.link class=item.class)=item.title
				ul.work_grid
					-
						var work = [
							{
								title: 'Все сайты',
								txt: 'Не следует, однако забывать, что дальнейшее развитие различных форм деятельности способствует подготовки',
								img: 'work',
								item: 'all',
								class: 'active'
							},
							{
								title: 'Все сайты',
								txt: 'Не следует, однако забывать, что дальнейшее развитие различных форм деятельности способствует подготовки',
								img: 'work',
								item: 'all',
								class: 'active'
							},
							{
								title: 'Все сайты',
								txt: 'Не следует, однако забывать, что дальнейшее развитие различных форм деятельности способствует подготовки',
								img: 'work',
								item: 'all',
								class: 'active'
							},
							{
								title: 'Landing Page',
								txt: 'Не следует, однако забывать, что дальнейшее развитие различных форм деятельности способствует подготовки',
								img: 'work',
								item: 'landing'
							},
							{
								title: 'Landing Page',
								txt: 'Не следует, однако забывать, что дальнейшее развитие различных форм деятельности способствует подготовки',
								img: 'work',
								item: 'landing'
							},
							{
								title: 'Landing Page',
								txt: 'Не следует, однако забывать, что дальнейшее развитие различных форм деятельности способствует подготовки',
								img: 'work',
								item: 'landing'
							},
							{
								title: 'Сайт Визитка',
								txt: 'Не следует, однако забывать, что дальнейшее развитие различных форм деятельности способствует подготовки',
								img: 'work',
								item: 'visit'
							},
							{
								title: 'Сайт Визитка',
								txt: 'Не следует, однако забывать, что дальнейшее развитие различных форм деятельности способствует подготовки',
								img: 'work',
								item: 'visit'
							},
							{
								title: 'Сайт Визитка',
								txt: 'Не следует, однако забывать, что дальнейшее развитие различных форм деятельности способствует подготовки',
								img: 'work',
								item: 'visit'
							},
							{
								title: 'Корпоративный сайт',
								txt: 'Не следует, однако забывать, что дальнейшее развитие различных форм деятельности способствует подготовки',
								img: 'work',
								item: 'corp'
							},
							{
								title: 'Корпоративный сайт',
								txt: 'Не следует, однако забывать, что дальнейшее развитие различных форм деятельности способствует подготовки',
								img: 'work',
								item: 'corp'
							},
							{
								title: 'Корпоративный сайт',
								txt: 'Не следует, однако забывать, что дальнейшее развитие различных форм деятельности способствует подготовки',
								img: 'work',
								item: 'corp'
							},
							{
								title: 'Интернет магазин',
								txt: 'Не следует, однако забывать, что дальнейшее развитие различных форм деятельности способствует подготовки',
								img: 'work',
								item: 'shop'
							},
							{
								title: 'Интернет магазин',
								txt: 'Не следует, однако забывать, что дальнейшее развитие различных форм деятельности способствует подготовки',
								img: 'work',
								item: 'shop'
							},
							{
								title: 'Интернет магазин',
								txt: 'Не следует, однако забывать, что дальнейшее развитие различных форм деятельности способствует подготовки',
								img: 'work',
								item: 'shop'
							},
							{
								title: 'Наружная реклама',
								txt: 'Не следует, однако забывать, что дальнейшее развитие различных форм деятельности способствует подготовки',
								img: 'work',
								item: 'afisha'
							},
							{
								title: 'Наружная реклама',
								txt: 'Не следует, однако забывать, что дальнейшее развитие различных форм деятельности способствует подготовки',
								img: 'work',
								item: 'afisha'
							},
							{
								title: 'Наружная реклама',
								txt: 'Не следует, однако забывать, что дальнейшее развитие различных форм деятельности способствует подготовки',
								img: 'work',
								item: 'afisha'
							},
							{
								title: 'Seo',
								txt: 'Не следует, однако забывать, что дальнейшее развитие различных форм деятельности способствует подготовки',
								img: 'work',
								item: 'seo'
							},
							{
								title: 'Seo',
								txt: 'Не следует, однако забывать, что дальнейшее развитие различных форм деятельности способствует подготовки',
								img: 'work',
								item: 'seo'
							},
							{
								title: 'Seo',
								txt: 'Не следует, однако забывать, что дальнейшее развитие различных форм деятельности способствует подготовки',
								img: 'work',
								item: 'seo'
							},
							{
								title: 'SMM Продвижение',
								txt: 'Не следует, однако забывать, что дальнейшее развитие различных форм деятельности способствует подготовки',
								img: 'work',
								item: 'smm'
							},
							{
								title: 'SMM Продвижение',
								txt: 'Не следует, однако забывать, что дальнейшее развитие различных форм деятельности способствует подготовки',
								img: 'work',
								item: 'smm'
							},
							{
								title: 'SMM Продвижение',
								txt: 'Не следует, однако забывать, что дальнейшее развитие различных форм деятельности способствует подготовки',
								img: 'work',
								item: 'smm'
							},
							{
								title: 'Банер',
								txt: 'Не следует, однако забывать, что дальнейшее развитие различных форм деятельности способствует подготовки',
								img: 'work',
								item: 'banner'
							},
							{
								title: 'Банер',
								txt: 'Не следует, однако забывать, что дальнейшее развитие различных форм деятельности способствует подготовки',
								img: 'work',
								item: 'banner'
							},
							{
								title: 'Банер',
								txt: 'Не следует, однако забывать, что дальнейшее развитие различных форм деятельности способствует подготовки',
								img: 'work',
								item: 'banner'
							},
						]
					each item in work 
						li(data-item=item.item class=item.class).work_item 
							.work_item--img
								a(href="#") 
									img(src=`i/${item.img}.png`)
							.work_item--content 
								a(href="#")=item.title
								span=item.txt 
								.work_item--link
									a(href="#") Подробнее
				+pagination({
					pages:5,
				})